// Style for theme1
$main-background-1: hsl(222, 26%, 31%);
$toggle-background-1: hsl(223, 31%, 25%);
$screen-background-1: hsl(224, 36%, 15%);
$button-1: hsl(45, 7%, 89%);
$buttons-shadow-1: hsl(35, 11%, 61%);
$button2-1: hsl(6, 63%, 50%);
$button2-shadow-1: hsl(6, 70%, 34%);
$button3-1: hsl(225, 21%, 49%);
$button3-shadow-1: hsl(224, 28%, 35%);
$text-1: hsl(0, 0, 100%);

// Style for theme2
$main-background-2: hsl(0, 0%, 90%);
$toggle-background-2: hsl(0, 5%, 81%);
$screen-background-2: hsl(0, 0%, 93%);
$button-2: hsl(45, 7%, 89%);
$buttons-shadow-2: hsl(35, 11%, 61%);
$button2-2: hsl(185, 42%, 37%);
$button2-shadow-2: hsl(185, 58%, 25%);
$button3-2: hsl(25, 98%, 40%);
$button3-shadow-2: hsl(25, 99%, 27%);
$text-2: hsl(60, 10%, 19%);
$white: hsl(0, 0, 100%);

// Style for theme3
$main-background-3: hsl(268, 75%, 9%);
$toggle-background-3: hsl(268, 71%, 12%);
$screen-background-3: hsl(268, 71%, 12%);
$button-3: hsl(268, 47%, 21%);
$button-shadow-3: hsl(290, 70%, 36%);
$button2-3: hsl(281, 89%, 26%);
$button2-shadow-3: hsl(285, 91%, 52%);
$button3-3: hsl(176, 100%, 44%);
$button3-shadow-3: hsl(177, 92%, 70%);
$text-3: hsl(52, 100%, 62%);

* {
  box-sizing: border-box;
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

main {
  padding: 1.2em;
  font-family: "Spartan";
  min-height: 100vh;
  height: auto;
  width: auto;
  max-width: 600px;
  margin: auto;
}

input[type="radio"] {
  cursor: pointer;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theme-container {
  display: flex;
  align-items: center;
  p {
    display: inline;
    float: right;
    margin-right: 1em;
  }

  .theme-toggle {
    float: right;
    padding: 0.3em 0.8em;
    border-radius: 1em;
    display: inline;
    input[type="radio"]:after {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: -2px;
      left: -1px;
      position: relative;
      content: "";
      display: inline-block;
      visibility: visible;
      border: none;
    }

    input[type="radio"]:checked:after {
      // width: 15px;
      // height: 15px;
      border-radius: 15px;
      top: -2px;
      left: -1px;
      position: relative;
      content: "";
      display: inline-block;
      visibility: visible;
      border: none;
    }
  }
}

.display-container {
  border-radius: 0.2em;
  width: 100%;
  outline: none;
  padding: 0.5em;
  border: none;
  text-align: right;
  font-size: 3em;
  font-weight: bold;
  margin: 0.5em 0;
}

.button-container {
  border-radius: 0.5em;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 20% 20% 20% 20%;
  // grid-template-rows: 20% 20% 20% 20% 20%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 1.5em;
  .button {
    padding: 0.5em 0;
    font-size: 2em;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    text-align: center;
    box-shadow: inset 0px -17px 15px -8px rgba(128, 128, 128, 0.473);
  }

  .one {
    grid-area: 3/1/3/2;
  }
  .two {
    grid-area: 3/2/3/3;
  }
  .three {
    grid-area: 3/3/3/4;
  }
  .four {
    grid-area: 2/1/2/2;
  }
  .five {
    grid-area: 2/2/2/3;
  }
  .six {
    grid-area: 2/3/2/4;
  }

  .seven {
    grid-area: 1/1/2/2;
  }
  .eight {
    grid-area: 1/2/1/3;
  }
  .nine {
    grid-area: 1/3/1/4;
  }
  .zero {
    grid-area: 4/2/4/3;
  }
  .del {
    grid-area: 1/4/1/5;
  }
  .multiply {
    grid-area: 4/4/4/5;
  }
  .add {
    grid-area: 2/4/2/5;
  }
  .reset {
    grid-area: 5/1/5/3;
  }
  .equal {
    grid-area: 5/3/5/5;
  }
  .dot {
    grid-area: 4/1/4/2;
  }
  .del,
  .reset,
  .equal {
    font-size: 1.2em;
    padding: 1em 0;
  }
}

@media (max-height: 600px) {
  .button-container {
    .button {
      font-size: 1.5em;
      padding: 0.5em 0;
    }
    .del,
    .reset {
      font-size: 1em;
    }
  }
}

@media (min-width: 1200px) {
  .button-container {
    padding: 2em;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
}

.theme1 {
  background-color: $main-background-1;

  main {
    background-color: $main-background-1;
  }

  h1,
  p,
  label {
    color: $text-1;
  }

  .theme-container {
    .theme-toggle {
      background-color: $toggle-background-1;
      input[type="radio"]:after {
        background-color: $toggle-background-1;
      }

      input[type="radio"]:checked:after {
        background-color: $button2-1;
      }
    }
  }

  .display-container {
    background-color: $screen-background-1;
    color: $text-1;
  }

  .button-container {
    background-color: $toggle-background-1;
    .button {
      color: $toggle-background-1;
      background-color: $button-1;
      box-shadow: inset 0px -12px 4px -8px $buttons-shadow-1;
    }
    .button:active {
      background-color: hsla(45, 7%, 89%, 0.664);
    }
    .del {
      background-color: $button3-1;
      box-shadow: inset 0px -12px 4px -8px $button3-shadow-1;
    }

    .reset {
      background-color: $button3-1;
      box-shadow: inset 0px -12px 4px -8px $button3-shadow-1;
    }
    .equal {
      background-color: $button2-1;
      box-shadow: inset 0px -12px 4px -8px $button2-shadow-1;
    }
    .equal:active {
      background-color: hsla(6, 63%, 50%, 0.5);
    }
    .dot {
    }
    .del,
    .reset,
    .equal {
      color: white;
    }

    .del:active,
    .reset:active {
      background-color: hsl(224, 28%, 35%);
    }
  }
}

.theme2 {
  background-color: $main-background-2;

  main {
    background-color: $main-background-2;
  }

  h1,
  p,
  label,
  button {
    color: $text-2;
  }

  .theme-container {
    .theme-toggle {
      background-color: $toggle-background-2;
      input[type="radio"]:after {
        background-color: $toggle-background-2;
      }

      input[type="radio"]:checked:after {
        background-color: $button3-2;
      }
    }
  }

  .display-container {
    background-color: $screen-background-2;
    color: $text-2;
  }

  .button-container {
    background-color: $toggle-background-2;
    .button {
      background-color: $button-2;
      box-shadow: inset 0px -12px 4px -8px $buttons-shadow-2;
    }
    .button:active {
      background-color: hsla(45, 7%, 89%, 0.507);
    }
    .del {
      background-color: $button2-2;
      box-shadow: inset 0px -12px 4px -8px $button2-shadow-2;
    }

    .reset {
      background-color: $button2-2;
      box-shadow: inset 0px -12px 4px -8px $button2-shadow-2;
    }
    .equal {
      background-color: $button3-2;
      box-shadow: inset 0px -12px 4px -8px $button3-shadow-2;
    }
    .equal:active {
      background-color: hsl(25, 99%, 27%);
    }
    .del,
    .reset,
    .equal {
      color: white;
    }
    .del:active,
    .reset:active {
      background-color: hsl(185, 58%, 25%);
    }
  }
}

.theme3 {
  background-color: $main-background-3;
  main {
    background-color: $main-background-3;
  }

  h1,
  p,
  label,
  button {
    color: $text-3;
  }

  .theme-container {
    .theme-toggle {
      background-color: $toggle-background-3;
      input[type="radio"]:after {
        background-color: $toggle-background-3;
      }

      input[type="radio"]:checked:after {
        background-color: $button3-3;
      }
    }
  }

  .display-container {
    background-color: $screen-background-3;
    color: $text-3;
  }

  .button-container {
    background-color: $toggle-background-3;
    .button {
      background-color: $button-3;
      box-shadow: inset 0px -12px 4px -8px $button-shadow-3;
    }
    .button:active {
      background-color: hsl(290, 70%, 36%);
    }
    .del {
      background-color: $button2-3;
      box-shadow: inset 0px -12px 4px -8px $button2-shadow-3;
    }

    .reset {
      background-color: $button2-3;
      box-shadow: inset 0px -12px 4px -8px $button2-shadow-3;
    }
    .equal {
      background-color: $button3-3;
      box-shadow: inset 0px -12px 4px -8px $button3-shadow-3;
    }
    .equal:active {
      background-color: hsl(177, 92%, 70%);
    }

    .del,
    .reset,
    .equal {
      color: white;
    }
    .del:active,
    .reset:active {
      background-color: hsl(285, 91%, 52%);
    }
  }
}
