$main-background: hsl(222, 26%, 31%);
$toggle-background: hsl(223, 31%, 25%);
$screen-background: hsl(224, 36%, 15%);
$button: hsl(45, 7%, 89%);
$buttons-shadow: hsl(35, 11%, 61%);
$button2: hsl(6, 63%, 50%);
$button2-shadow:hsl(6, 70%, 34%);
$button3: hsl(225, 21%, 49%);
$button3-shadow: hsl(224, 28%, 35%);
$text:hsl(0, 0, 100%);



body{
    background-color: $main-background;
}


h1,p,label{
    color: $text;
}

.theme-container{
    .theme-toggle{
        background-color: $toggle-background;
        input[type='radio']:after {
            background-color: $toggle-background;
        }
    
        input[type='radio']:checked:after {
            background-color: $button2;
        }
    }
}


.display-container{

    background-color: $screen-background;
    color: $text;
}

.button-container{
    background-color: $toggle-background;
    .button{
        color: $toggle-background;
        background-color: $button;
        box-shadow: inset 0px -12px 4px -8px $buttons-shadow;
    }
    .button:active{
        background-color: hsla(45, 7%, 89%, 0.664);
    }
    .del{
        grid-area: 1/4/1/5;
        background-color: $button3;
        box-shadow: inset 0px -12px 4px -8px $button3-shadow;
    }
    .multiply{
        grid-area: 4/4/4/5;
    }
    .add{
        grid-area: 2/4/2/5;
    }
    .reset{
        grid-area: 5/1/5/3;
        background-color: $button3;
        box-shadow: inset 0px -12px 4px -8px $button3-shadow;

    }
    .equal{
        grid-area: 5/3/5/5;
        background-color: $button2;
        box-shadow: inset 0px -12px 4px -8px $button2-shadow;
    }
    .equal:active{
        background-color: hsla(6, 63%, 50%, 0.5);
    }
    .dot{
        grid-area: 4/1/4/2;
    }
    .del, .reset, .equal{
        color: white;
    }

    .del:active, .reset:active{
        background-color: hsl(224, 28%, 35%) ;
    }
}
