$main-background: hsl(0, 0%, 90%);
$toggle-background: hsl(0, 5%, 81%);
$screen-background: hsl(0, 0%, 93%);
$button: hsl(45, 7%, 89%);
$buttons-shadow: hsl(35, 11%, 61%);
$button2: hsl(185, 42%, 37%);
$button2-shadow: hsl(185, 58%, 25%);
$button3: hsl(25, 98%, 40%);
$button3-shadow: hsl(25, 99%, 27%);
$text: hsl(60, 10%, 19%);
$white:hsl(0, 0, 100%);



body{
    background-color: $main-background;
}


h1,p,label,button{
    color: $text;
}

.theme-container{
    .theme-toggle{
        background-color: $toggle-background;
        input[type='radio']:after {
            background-color: $toggle-background;
        }
    
        input[type='radio']:checked:after {
            background-color: $button3;
        }
    }
}


.display-container{

    background-color: $screen-background;
    color: $text;
}

.button-container{
    background-color: $toggle-background;
    .button{
        background-color: $button;
        box-shadow: inset 0px -12px 4px -8px $buttons-shadow;
    }
    .button:active{
        background-color: hsla(45, 7%, 89%, 0.507);
    }
    .del{
        grid-area: 1/4/1/5;
        background-color: $button2;
        box-shadow: inset 0px -12px 4px -8px $button2-shadow;
    }
    .multiply{
        grid-area: 4/4/4/5;
    }
    .add{
        grid-area: 2/4/2/5;
    }
    .reset{
        grid-area: 5/1/5/3;
        background-color: $button2;
        box-shadow: inset 0px -12px 4px -8px $button2-shadow;

    }
    .equal{
        grid-area: 5/3/5/5;
        background-color: $button3;
        box-shadow: inset 0px -12px 4px -8px $button3-shadow;
    }
    .equal:active{
        background-color: hsl(25, 99%, 27%);
    }
    .dot{
        grid-area: 4/1/4/2;
    }
    .del, .reset, .equal{
        color: white;
    }
    .del:active, .reset:active{
        background-color: hsl(185, 58%, 25%);
    }
}
